$basicBtnLight: rgb(122, 193, 248);
$basicBtnDark: rgb(42, 42, 42);
$bgColorLight: rgb(181, 202, 151);
$bgColorGray: rgb(230, 230, 230);
$red: rgb(218, 57, 57);
$blue: rgb(98, 98, 223);
$green: rgb(45, 130, 45);




