@import '../../../assets/scss/custom';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/base';
.header {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $blue;
    padding-left: 1px;
    padding-right: 1px;
  }
  z-index: 100;
  width: 60%;
  height: 7.5%;
  background-color: $bgColorLight;
  position: fixed;
  top: 0;
  &-left {
    @include lyt(flex, flex-start, center);
    float: left;
    width: 20%;
    height: 100%;
    img {
      height: 60%
    }
    h1 {
      font-size:1.5em;
    }
  }
  &-right {
    @include lyt(flex, flex-end, center);
    float: left;
    width: 79%;
    height: 100%;
    margin-right: 1%;
  }


  //****************************//
  //******* Media query ********//
  //****************************//
  @media only screen and (max-width:1120px) {
    width : 100%;
    margin: 0;
  }

  @media only screen and (max-width:750px) {
    @include lyt(flex, space-between, center);
    .header-right {
      float: none;
      width: fit-content;
      span {display: none;}
    }
    .header-left {
      float: none;
      width: fit-content;
    }
  }
}
