#data {
  width: 60%;
  height: 92%;
  position:absolute;
  top: 8%;




  //****************************//
  //******* Media query ********//
  //****************************//
  @media only screen and (max-width:1120px) {
    width : 100%;
    margin: 0;
  }

  @media only screen and (max-width:800px) {
    
  }
}

