@import '../../../../assets/scss/base';
#auth {
  width: 60%;
  height: 90%;
  position:absolute;
  top: 8%;
  background-color: $bgColorLight;

  //Media query
  @media only screen and (max-width:1120px) {
    width : 100%;
    margin:0;
  }
}


